# <h1>編集画面</h1>

# <%= render partial: 'form' %> 

#    <% if @spot.images.attached? %> <%# 投稿済みの画像を表示 %>
#       <h3> 投稿済みの画像 </h3>
#       <% @spot.images.each do |image| %>
#          <div>
#             <%= image_tag image %>
#          </div>
#       <% end %>
#    <% end %>


