<div class= "container">
    <div class= "topper">   
        <h1>名前もつかない<br class="break-title">日々を教えて</h1>
    </div> 

    <div class = "message">
        <p>
            誰にも話さないような、なんでもない日常を<br>
            あなたの過ごした空気を<br>

            
        </p>
    </div>

    <div class="spot-list">
      <% @spots.each do |spot| %>
        <%= link_to spot_path(spot), class: "spot-card-link" do %>
          <div class="spot-card">
            <% if spot.images.attached? %>
              <%= image_tag spot.images.first %>
            <% end %>

            <h3><%= spot.title %></h3>
            <p><%= spot.user&.name || "ゲスト" %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    
</div>

