 
 
   /* 外側の不要な余白を削除 */
/* body{
  padding: 0;
  margin: 0;
} */

 h1 {
    border-bottom: 1px solid rgb(203, 205, 189);
    text-align: center;
    font-family: 'Sawarabi Mincho', serif;
    font-weight: 100;
    text-shadow: 6px 4px 13px #100f0f24;
    opacity: 0.9;
    padding-bottom: 5px;
  }

  .topper-link{
    color: #3e2f1caf;
    text-decoration:none;
  }


.diary-page {
    max-width:800px;
    box-sizing: border-box;
    /* width: 100%; */
    background-color: #fffaf3;
    background-image: linear-gradient(to bottom, rgba(100, 85, 60, 0.08) 1px, transparent 1px);
    background-size: 100% 30px;/* 背景と線の幅 */
    border: 1px solid #23221f00;
    padding: 40px;
    margin: 40px auto;
    /* max-width: 600px; */
    font-family: 'Sawarabi Mincho', serif;
    font-weight: 100;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
    

  }
  
  .diary-title {
    
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    color: #413e27e5;
    opacity: 0.8;
    /* text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.211); */
    letter-spacing: 4px
  }

  
  .diary-photo {
    display: block;
    margin: 0 auto 20px;
    /* border: 1px solid #e1d4c0; */
    border-radius: 4px;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.1);
    max-width: 100%;   /* 親要素の幅を超えない */
    height: auto;      /* 縦横比を保って縮む */


  }

  .diary-text {
    background-color: #fdfbf6;
    background-image: linear-gradient(to bottom, rgba(50, 40, 20, 0.03) 1px, transparent 1px);
    background-size: 100% 28px;
    padding: 30px;
    font-size: 17px;
    line-height: 2.1;
    color: #3b372d;
    font-family: 'Zen Old Mincho', serif;
    border: 1px solid #d8cdb9;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.03);
    /* border-radius: 6px; */
    opacity:0.6
  }
  
.like-button {
    
    display: flex;
    padding: 3px 8px;
    color: #3b372d;
    font-family: 'Zen Old Mincho', serif;
    text-decoration: none;
    opacity:0.8
}
.like-button i.fa-heart {
    color: #e74c3c; /* 例：赤 */
}



  .spot-info {
    display: flex;
    justify-content: center;
    gap: 24px;	
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info-label {
    font-size: 12px;
    color: #aaa;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
  }
  
  .info-value {
    text-decoration: none;
    font-weight: bold;
    padding: 3px 8px;
    color: #3b372d;
    font-family: 'Zen Old Mincho', serif;
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
    box-shadow: 1px 2px 13px rgba(174, 171, 171, 0.551);
  }

  .info-value a {
  text-decoration: none;
  color: inherit;
}


  .info-value:hover {
    background-color: #e7e7e7b0;
    transform: translateY(-1px);
    box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.2);
    transition: all 0.8s ease;
  }
  
 
@media screen and (max-width: 1024px) {

}




@media screen and (max-width: 768px) {
    
}


@media screen and (max-width: 600px) {
body{
  padding: 0;
  /* margin: 10px; */
}
.topper-link{
    font-size: 20px;
}

.diary-page {
    padding: 20px;
}

.diary-title{
    font-size: 24px;

}

.diary-text {
    padding: 30px;
    font-size: 12px;
    line-height: 2.1;    
}

.info-label{
    font-size: 10px;
}

.info-item{
    font-size: 13px;
    margin-bottom: 30px;
}

.info-delete{
    font-size: 14px;
    margin:0 0 50px 30px;
}





}
@import "pages/spot.show";
