<h2>付箋を貼る</h2>

<%= form_with model: @post_it, local: true do |f| %>
  <div class="field">
    <%= f.label :content, "付箋の内容" %><br>
    <%= f.text_area :content, rows: 5, placeholder: "メモを入力..." %>
  </div>

  <%= f.submit "貼る", class: "btn" %>
<% end %>
